@media only screen and (max-width: 600px) {
  h1 {
    font-size: 50px !important; } }

html, body, header, #intro {
  height: 90%;
  font-family: 'IBM Plex Serif', serif; }

#intro {
  background: url("../img/cover-image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #intro h1 {
    text-transform: uppercase;
    font-size: 80px; }

.top-nav-collapse {
  background-color: #4e342e; }
